[submodule "src/doc/nomicon"]
	path = tools/bookrunner/rust-doc/nomicon
	url = https://github.com/rust-lang/nomicon.git
[submodule "src/doc/reference"]
	path = tools/bookrunner/rust-doc/reference
	url = https://github.com/rust-lang/reference.git
[submodule "src/doc/rust-by-example"]
	path = tools/bookrunner/rust-doc/rust-by-example
	url = https://github.com/rust-lang/rust-by-example.git
[submodule "firecracker"]
	path = firecracker
	url = https://github.com/firecracker-microvm/firecracker.git
[submodule "tests/perf/s2n-quic"]
	path = tests/benchmarks/s2n-quic
	url = https://github.com/aws/s2n-quic
	branch = main
