# SPDX-License-Identifier: Apache-2.0 OR MIT
#
# Modifications Copyright Kani Contributors
# See GitHub history for details.

[workspace]
members = [
    "proptest",
    "proptest-derive",
]

exclude = [
    "proptest/test-persistence-location/*",
    "proptest/examples",
]
