[workspace]
members = [
  "library/kani",
  "library/kani_restrictions",
  "library/std",
  "tools/bookrunner",
  "tools/compiletest",
  "tools/kani-link-restrictions",
  "src/cargo-kani",
  "src/kani-compiler",
  # These are still needed by bookrunner.
  "tools/bookrunner/rustdoc-json-types",
  "tools/bookrunner/librustdoc",
]

exclude = [
  "build",
  "target",
  # dependency tests have their own workspace
  "tests/kani-dependency-test/dependency3",
  # cargo kani tests should also have their own workspace
  "tests/cargo-kani"
]
