# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT

# Run rustfmt with this config (it should be picked up automatically).
edition = "2021"
style_edition = "2024"
use_small_heuristics = "Max"
merge_derives = false

