# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT

[package]
name = "kani"
version = "0.2.0-dev"
edition = "2018"
license = "MIT OR Apache-2.0"

[dependencies]
kani_macros = { path = "../kani_macros" }
