# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT

[package]
name = "kani_macros"
version = "0.5.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0", features = ["full", "parsing", "printing", "visit-mut", "visit", "extra-traits", "clone-impls"]}
quote = "1.0"
proc-macro2 = "1.0"
uuid = { version = "1.0", features = ["v4"] }
