# Copyright Kani Contributors
# SPDX-License-Identifier: Apache-2.0 OR MIT
name: Kani CI
on: [push, pull_request]

jobs:
  regression:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - name: Checkout Kani
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup Kani Dependencies
        uses: ./.github/actions/setup
        with:
            os: ${{ matrix.os }}

      - name: Format Check
        run: ./scripts/kani-fmt.sh --check

      - name: Build proptest
        run: |
          export RUST_BACKTRACE=1
          cargo build --workspace

# We will keep using local version of Kani until the GH action
# merges. See PR#1589 for progress.
      - name: Setup Kani Dependencies
        uses: ./.github/actions/kani
        with:
          command: |
            cargo kani -p proptest --tests

      - name: Build Document
        run: |
          export RUST_BACKTRACE=1
          cargo doc --workspace --no-deps --exclude std
