# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0 OR MIT
name: RMC CI
on: [push, pull_request]

jobs:
  regression:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-20.04]
    steps:
      - name: Checkout RMC
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: ./scripts/setup/${{ matrix.os }}/install_deps.sh

      - name: Install CBMC
        run: ./scripts/setup/${{ matrix.os }}/install_cbmc.sh
      
      - name: Install cbmc-viewer
        run: ./scripts/setup/install_viewer.sh

      - name: Install Rust toolchain
        run: ./scripts/setup/install_rustup.sh

      - name: Set config.toml file
        run: |
          ./configure \
            --enable-debug \
            --set=llvm.download-ci-llvm=true \
            --set=rust.debug-assertions-std=false \
            --set=rust.deny-warnings=false

      - name: Update submodules
        run: git submodule update --init

      - name: Export backtrace flags
        run: export RUST_BACKTRACE=1

      - name: Build RMC
        run: ./x.py build -i --stage 1 library/std

      - name: Execute RMC regression
        run: ./scripts/rmc-regression.sh
